.event_container{
    font-family: "Segoe UI",Arial,sans-serif;
}
.row_events{
    width: 80%;
    margin-left: 10%;
}
.event_container h3{
    text-align: center;
    padding-top:100px;
    padding-bottom: 50px;
    font-weight: bold;
}

.tab-content {
    margin: 50px 0 20px 0;
}
.media > .pull-left {
    margin-right: 29px;
}
.media .dateEl {
    display: inline-block;
    text-align: center;
    background: #f9f9f9;
    padding: 18px 0 25px 0;
    color: #173d51;
    font-size: 16px;
    font-weight: 700;
    width: 113px;
    text-transform: uppercase;
}
.media .dateEl em {
    display: block;
    color: #662d91;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 5px;
    font-style: normal;
}
@media only screen and (max-width: 425px){
    .media .dateEl {
        font-size:12px;
        width: 70px;
        padding:9px 0 13px 0;
    }
    .media .dateEl em {
        font-size: 30px;
        margin-bottom: 2px;
    }
}
.media .media-heading a {
    color: #022235;
    font-size: 21px;
    text-transform: uppercase;
}
.media .meta-data {
    margin: 0 0 7px 0;
}
.media .longDate, .media .timeEl {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    font-family: "Segoe UI",Arial,sans-serif;
   /* font-family: 'PT Sans Narrow', sans-serif;*/
    font-weight: 700;
    color: #636465;
    text-transform: uppercase;
    min-height: 16px;
}
.media .longDate {
    background: transparent url(../images/ico-calendar.png) no-repeat left top;
    padding: 0 10px 0 24px;
    border-right: 1px solid #eb5b4c;
    margin-right: 3px;
}
#tab1.tab-pane .media .longDate {
    border-right: none;
}
.blogPost--small {
    color: #7c7b7b;
    margin: 20px 30px 40px 0;
}
.blogPost--small .media > .pull-left {
    margin-right: 25px;
}
.blogPost--small a {
    color: #662d91;
}
.blogPost--small .date, .blogPost--small .dateEl2 {
    display: block;
    text-align: center;
    padding: 18px 0 25px 0;
    color: #fff;
    background: #662d91;
    width: 113px;
}
.blogPost--small .date span, .blogPost--small .dateEl2 span {
    display: inline-block;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0em;
    text-indent: -0.1em;
    color: #fff;
    font-weight: bold;
}
.blogPost--small .date small, .blogPost--small .dateEl2 small {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.blogPost--small h4 {
    margin: 0 0 12px 0;
    font-size: 22px;
    text-transform: uppercase;
}




