#slider-wrapper {
  width: 100%;
  background: #333;
  position: relative;
}
.slider-controlls .next, .slider-controlls .prev {
  display: block;
  position: absolute;
  border: none;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  top: 50%;
  padding: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  z-index: 99999;
}
.slider-controlls .next {
  right: 20px;
}
.slider-controlls .prev {
  left: 20px;
}
.slider-items {
  width: 100%;
  margin: 0px auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider-items .slider-item {
  width: 100%;
  position: absolute;
  opacity: 1;
}
.slider-items .slider-item.active {
  opacity: 1;
}
.slider-items .slider-item.active .content h1 {
  opacity: 1;
  bottom: 40%;
  left: 20%;
  z-index: 9999;
  font-weight: normal;
}
.slider-items .slider-item.active .content p {
  opacity: 1;
  left: 20%;
  z-index: 9999;
}
.slider-items .slider-item.active .content img {
  opacity: 1;
}
.slider-items .slider-item .content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider-items .slider-item .content h1 {
  position: absolute;
  bottom: 40%;
  left: 10%;
  background-color: rgba(51, 102, 153, 0.8);
  padding: 15px 20px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.slider-items .slider-item .content p {
  position: absolute;
  bottom: 32%;
  left: 0%;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 10px;
  color: #fff;
  opacity: 0;
  transition: all 0.6s;
  transition-delay: 0.1s;
}
.slider-items .slider-item .content img {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.slider-bullets {
  width: 100px;
  bottom: 20px;
  position: absolute;
  text-align: center;
  z-index: 99999;
  width: 100%;
}
.slider-bullets .bullet {
  width: 20px;
  height: 20px;
  background: rgba(228, 228, 228, 0.4);
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}
.slider-bullets .bullet.active {
  border: 2px solid #333;
}
.box{
    height: 400px;
    width: 100%;
}
#box_inside {
    height: 390px;
    width: 65%;
    margin: 25px auto;
    color: black;
    background-color: white;
    border: 1px black;
    font-family: "Segoe UI",Arial,sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.noticebrd {
    width: 200px;
    height: 200px;
    color: black;
    background: url(https://drive.google.com/uc?id=1pB2PI8JU-_WaosS7LU4d8_dV6hors18d) no-repeat;
    background-size: 200px 200px;
    float: left;
    margin: 5px;
}
.noticebrd .content {
    width: 190px;
    height: 175px;
    padding: 2px;
    margin-left: 8px;
    margin-top: 35px;
    font-weight: 600;
    text-align: justify;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.box1 {
    /*height: 800px;*/
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 100px;
    font-family: "Segoe UI",Arial,sans-serif;
    width: all;
    text-transform: none;
    color: white;
    background-color: black;
    background-blend-mode: screen;
}
#box1_head {
    padding-left: 31%;
    padding-top: 150px;
    font-weight: bold;
    letter-spacing: 2px;
    /* font-family: "Lato", sans-serif; */
    font-family: "Segoe UI",Arial,sans-serif;
}