{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-4">
			<!-- <h2>Cognizance</h2> -->
			<img src="{% static 'images/abbhot award.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>ECE Decoded</h2> -->
			<img src="{% static 'images/councilaward.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>Apprentice-Ship</h2> -->
			<img src="{% static 'images/dubaiaward.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<!-- <h2>Electronova</h2> -->
			<img src="{% static 'images/goldaward.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>Freshers</h2> -->
			<img src="{% static 'images/indianawars.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>GRE</h2> -->
			<img src="{% static 'images/king award.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<!-- <h2>Inaugral</h2> -->
			<img src="{% static 'images/kyeopaward.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>Know Your Branch</h2> -->
			<img src="{% static 'images/unicefaward.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<img src="{% static 'images/groupaward.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<!-- <h2>Inaugral</h2> -->
			<img src="{% static 'images/award1.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>Know Your Branch</h2> -->
			<img src="{% static 'images/award2.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<img src="{% static 'images/award3.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<!-- <h2>Inaugral</h2> -->
			<img src="{% static 'images/award4.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<!-- <h2>Know Your Branch</h2> -->
			<img src="{% static 'images/award5.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<img src="{% static 'images/award6.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	
</div>
{% endblock content %}