{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="jumbotron">
	<h2>YOUTH CIRCLE</h2>
	<h3>DEVELOPING COMMUNICATION AND LEADERSHIP SKILLS</h3>
	ICT Academy team of experts has designed a premium program in empowering aspiring students and training them to make the transition from the campus to their professional world successfully. The mission of this Forum is to provide an equally constructive and encouraging atmosphere that allows them to learn individually as well as in a group. It gives them the opportunity to develop their oral communication and leadership skills, which will in turn nurture their and also helps them acquire self-confidence immaterial of their academic performance. <br>

	YOUTH Circle provides opportunities for youth to practice English speaking skills through peer group interactions, reflecting on the speech, connecting it to real life examples, and applying the knowledge that results to other situations. It is a forum that helps the students to improve the skills of speaking, listening and thinking, through a relaxed, friendly and supportive environment. <br>
	<h2>Community Programs to Promote Youth Development</h2>
	After-school programs, scout groups, community service activities, religious youth groups, and other community-based activities have long been thought to play a key role in the lives of adolescents. But what do we know about the role of such programs for today's adolescents? How can we ensure that programs are designed to successfully meet young people's developmental needs and help them become healthy, happy, and productive adults? <br>

	Community Programs to Promote Youth Development explores these questions, focusing on essential elements of adolescent well-being and healthy development. It offers recommendations for policy, practice, and research to ensure that programs are well designed to meet young people's developmental needs. <br>

	The book also discusses the features of programs that can contribute to a successful transition from adolescence to adulthood. It examines what we know about the current landscape of youth development programs for America's youth, as well as how these programs are meeting their diverse needs. <br>

	Recognizing the importance of adolescence as a period of transition to adulthood, Community Programs to Promote Youth Development offers authoritative guidance to policy makers, practitioners, researchers, and other key stakeholders on the role of youth development programs to promote the healthy development and well-being of the nation's youth. <br>
	Community Programs to Promote Youth Development focuses on essential elements of adolescent well-being and healthy development. It offers recommendations for policy, practice, and research to ensure that programs are well designed to meet young people's developmental needs. <br>
	<h2>The Landscape of Community Programs for Youth</h2>
	A group of 20 young people meets twice a week for three hours after school with their school dance teacher and a professional dancer from the city’s local dance troupe. They spend one hour doing their homework and receiving tutoring assistance from the staff. Then they participate in an hour of rigorous stretching and calisthenics. Exhausted but exhilarated, they spend the remainder of their afternoon rehearsing for their upcoming dance performance at a school talent show. <br>

	A half-dozen teenagers meet at their local community centers with adult city council members to share the results of a survey they conducted to help the city council understand adolescent needs and how to serve young people more effectively. They leave the meeting with plans to meet again the following week with two city council members to plan a community service event for young people and their families. <br>

	Hundreds of young people in uniforms fan out to various neighborhoods across the city in one of the country’s largest urban areas. Working in teams, they participate in various community service tasks, such as tutoring children, landscaping, and cleaning a park. Between community service projects, these youth receive tutoring and assistance in preparing for a high school equivalency exam. <br>
	<h2>NEW ORLEANS PROVIDING LITERACY TO ALL YOUTH (NOPLAY)</h2>
	NOPLAY is YEP’s adult education program which was founded in 2006. NOPLAY is the largest adult education provider in the city that specializes in providing adult basic education and high school equivalency preparation to out-of-school youth between the ages of 16 and 24. The program is one of only five providers in New Orleans that is recognized by the Louisiana Community and Technical College System (LCTCS) as an official provider of adult education services. <br>
	<h3>THE VILLAGE</h3>
	The Village was established in 2009 to help meet the unique needs of YEP’s youngest adult learners and is a self-contained, structured class that provides a targeted group of NOPLAY youth ages 16-21 with daily instruction. In addition to this small group instruction, The Village also provides youth with intensive, wrap-around supportive services in order to promote positive educational outcomes. <br>
	All Youth Empowerment Project clients have the opportunity to work with the Transition Services team to pursue employment, job training programs, or continuing and higher education. <br>

	Our Post-Secondary Services include assisting students with preparing and applying for college, financial aid, and finding the program that best suits their interest. The Post-Secondary Coordinator provides ongoing support to ensure that the student is successful in obtaining a post-secondary credential. <br>

	YEP also provides employment transition services to YEP participants who are in search of employment with the opportunity for advancement. The Employment Services Coordinator assists with resume workshops, workforce preparation, and assistance with job placement. <br>

</div>

{% endblock content %}